// FONTS

$primary-font: 'HelveticaNeueCyr';
$secondary-font: 'Oswald';
$accent-font: 'Mistral';
// FONT NOT YET LOCATED
$third-font: 'MarckScript-Regular';
// THE ONE ABOVE


// FONT COLORS
$primary-font-color: #282828;
$secondary-font-color:#fff;
$third-font-color:#6b6f7a;
$accent-font-color: #fcbf2c;
$secondary-accent-color:#000;

