%feed-font {
  width: 214px;
  margin: 0 auto;
  font-size: 14px;
  font-family: $primary-font;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.42px;
  text-align: center;
  color: $third-font-color;
}

.feed {
  padding-top: 42px;
  margin-bottom: 24px;
  @media screen and (min-width: 768px) {
    padding-top: 56px;
  }
  @media screen and (min-width: 1420px) {
    padding-top: 108px;
  }

  &__slider {
    position: relative;
    width: 100%;

    &-btn-container {
      position: absolute;
      top: 176px;
      display: flex;
      justify-content: space-between;
      width: 320px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0 5px;
      @media screen and (min-width: 768px) {
        top: 210px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 432px;
      }
      @media screen and (min-width: 1420px) {
        width: 1270px;
      }
    }

    &-control {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid rgb(234, 234, 234);
      background-color: $secondary-font-color;
      box-shadow: 1.5px 2.598px 9px 0px rgba(2, 2, 1, 0.1);
      cursor: pointer;
      @media screen and (min-width: 768px) {
        width: 50px;
        height: 50px;
      }

      .ctrl-arrow {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        fill: rgb(234, 234, 234);
        
        &--active {
          fill: rgb(95, 124, 236);
        }
      }
    }
  }

  .section__title {
    margin-bottom: 15px;
    @media screen and (min-width: 768px) {
      margin-bottom: 46px;
    }
    @media screen and (min-width: 1420px) {
      margin-bottom: 82px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 272px;
    margin: 0 auto;
    padding: 30px 0;
    overflow-x: hidden;
    box-shadow: 0px 10px 30px 0px rgba(2, 2, 1, 0.07);
    @media screen and (min-width: 768px) {
      box-shadow: none;
      justify-content: center;
      width: 100%;
    }
    @media screen and (min-width: 1420px) {
      overflow-x: unset;
      width: 1220px;
      justify-content: space-between;
    }

    &-item {
      flex-shrink: 0;
      width: 272px;
      padding-top: 10px;
      @media screen and (min-width: 768px) {        
        padding-top: 30px;
        width: 382px;
        box-shadow: 0px 10px 30px 0px rgba(2, 2, 1, 0.07);
      }

      &:first-child {
        @media screen and (min-width: 768px) {
          order: 1;
        }
      }

      &:nth-child(2) {
        @media screen and (min-width: 768px) {
          order: 2;
          transform: translateX(60px);
        }
        @media screen and (min-width: 1420px) {
          transform: unset;
        }
      }

      &:last-child {
        @media screen and (min-width: 768px) {
          transform: translateX(-60px);
        }
        @media screen and (min-width: 1420px) {
          transform: unset;
          order: 0;
        }
      }

      &-img {
        width: 114px;
        margin: 0 auto;
        margin-bottom: 24px;
      }

      &-name {
        margin-bottom: 20px;
        font-size: 21px;
        font-family: $primary-font;
        color: $primary-font-color;
        font-weight: bold;
        line-height: 30px;
        letter-spacing: 0.63px;
        text-align: center;

        &::before {
          content: "";
          display: block;
          width: 17px;
          height: 12px;
          margin: 0 auto;
          margin-bottom: 26px;
          background-image: url(../images/feed/quotes.png);
          background-repeat: no-repeat;
        }
      }

      &-skills {
        margin-bottom: 10px;
        @media screen and (min-width: 768px) {
          margin-bottom: 15px;
        }

        &-desc {
          @extend %feed-font;
          margin-bottom: 8px;
          @media screen and (min-width: 768px) {
            width: 314px;
          }
        }
      }

      &-description {
        @extend %feed-font;
        display: block;
        padding-bottom: 38px;
        font-weight: 700;
        text-decoration: underline;
        color: #eec14d;
        cursor: pointer;
        @media screen and (min-width: 768px) {
          padding-bottom: 48px;
        }
      }
    }
  }
}
